@model IEnumerable<COMP2084MidtermW2019.Models.City>

@{
    ViewBag.Title = "Cities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Country
        </th>
        <th>
            City
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearFounded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Population)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearFounded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Population)
        </td>
        @if (User.Identity.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CityId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CityId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CityId })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CityId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CityId })
            </td>
        }
    </tr>
}

</table>
